<% content_for :page_title do %>
   <%= Spree.t(:edit) %>: <%= @campaign.title %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_campaigns_list), spree.admin_campaigns_url %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @campaign %>

<%= form_for [:admin, @campaign] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => f %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

<div class="row campaign_products">
  <div class="col-8">
    <%= label_tag :products %><br />
    <table class="table">
      <%- @campaign.products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td>
            <%= link_to t(:show), admin_product_path(product) %>
            <%= link_to t(:remove), remove_product_admin_campaign_path(@campaign, product_slug: product.slug), method: :patch %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row campaign_products">
  <div class="col-1">
    <%= label_tag Spree.t(:add) %>
  </div>
  <div class="col-7">
    <%= text_field_tag :q, '', class: 'fullwidth autocomplete' %>
  </div>
</div>
<div class='row autocomplete_results' style='text-align:center;min-height: 400px'/>
</div>
