<% content_for :page_title do %>
   <%= Spree.t(:campaigns) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:new_campaign), new_object_url %></li>
<% end %>

<% if @campaigns.any? %>
  <table class="index sortable" data-sortable-link="/admin/campaigns/update_positions">
    <colgroup>
      <col style="width: 20px">
      <col style="width: 35%">
      <col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 20%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th class="title"><%= Spree::Campaign.human_attribute_name(:title) %></th>
        <th class="date"><%= Spree::Campaign.human_attribute_name(:start_at) %></th>
        <th class="date"><%= Spree::Campaign.human_attribute_name(:end_at) %></th>
        <th class=""><%= Spree::Campaign.human_attribute_name(:status) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr class="<%= cycle('odd', 'even') %>" id="<%= spree_dom_id campaign %>">
          <td>
            <span class="handle"></span>
          </td>
          <td><%= campaign.title %></td>
          <td><%= l(campaign.start_at) rescue '-' %></td>
          <td><%= l(campaign.end_at) rescue '-' %></td>
          <td><%= t(campaign.status, scope: 'enum.spree.campaign.statuses') %></td>
          <td class="actions">
            <%= link_to_edit campaign, :no_text => true %>
            <%= link_to_delete campaign, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @campaigns %>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Campaign.human_attribute_name(:other)) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_campaign_path %>!
  </div>
<% end %>
